Module4/Workspace/.tooling/training4-american-ws83c46f8e-a554-4ba4-8b86-d0f496fc0bf6/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="39e78b98-03b3-4c1b-8a59-e65565aa07f1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="38529e8e-df69-4fae-9517-5892024b2a35" >
		<db:my-sql-connection host="iltdb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getFlights" doc:id="47f2d067-ebde-4e49-a882-fe39aaa1db0e" >
		<db:select doc:name="Select" doc:id="cca43229-93bf-4d49-b8dc-dd3175be2b04" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="18ed4e60-ccf6-4015-a68c-7f62cdb556ba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: trim ( payload01.fromAirport default "" ),
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFightsByID" doc:id="bf3e02a0-7e16-4a75-a4fe-a0bb187ad055" >
		<db:select doc:name="Copy_of_Select" doc:id="5fb23f6f-602e-49b9-8c49-afd7a853aa2a" config-ref="Database_Config" >
			<db:sql ><![CDATA[select * from american where ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="0b048d51-fcdd-4ac9-9fa7-6be05922ee53" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: trim ( payload01.fromAirport default "" ),
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlights" doc:id="2235b389-0e47-4e26-9c0b-d57dab2e86d1" >
		<set-payload value="{'message' : 'flights added (but not really)'}" doc:name="Set Payload" doc:id="0662251c-adb3-4b91-9e3d-bff68d2ce1be" />
	</flow>
</mule>
